
@media screen and (min-width: 1025px) {
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8ecfda;
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #72c2f1;
  border-radius: 5px;
}
}



@media screen and (max-width: 400px) {
::-webkit-scrollbar {
  width: -1px;
}
}
