.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.banner {
    display: flex;
    align-items: center;
    min-height: 250px;
    margin: auto;

    .herobanner {
        margin: auto;

        &__title {
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
            margin: 0;

        }

        &__subtitle {
            text-align: center;
            font-size: 14px;
            letter-spacing: 0.5px;
            max-width: 350px;
        }
    }
}