.hero {
//     height: 100vh;
    display: flex;
    align-items: flex-start;
    margin: auto;
    top: 172px;
    height: 300px;

}

.justify-content-right{
    justify-content: flex-end;
}

.banner {
    display: list-item;
    align-items: center;
    min-height: 250px;
    margin: auto;

    .herobanner {
         &.view {
        padding-top: 0;
        margin-top: 30px;
    }
        margin: auto;

        &__title {
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
            margin: 0;

        }

        &__subtitle {
            text-align: center;
            font-size: 14px;
            letter-spacing: 0.5px;
            max-width: 350px;
        }
    }
}


@media screen and (max-width: 992px) {
  .hero {
       height: 345px;

  }
}