body{
overflow: overlay !important;
}
.appLogo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff !important;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fcb432;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.hover-underline-animation:focus {
  color: #ffffff !important;
}

.header {
  padding: 10px 100px;
  width: 100%;
  height: 100px;

  .header__nav {
    .header__nav__link {
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      white-space: nowrap;
      box-shadow: none;
    }
     .notification_btn{
       background-color: #ffffff00 !important ;
       border-color: #ffffff00 !important;
       &:hover {
        background-color: #ffffff00 !important ;
       border-color: #ffffff00 !important;
       color: #ffebcc !important;
      }
    }
    .notification_dropdown{
       background-color: #ffffff00 !important ;
       border-color: #ffffff00 !important;

       &:hover {
        background-color: #ffffff00 !important ;
       border-color: #ffffff00 !important;
      }
    }

    .header__nav__link__img {
      padding: 0.2rem;

      &__user {
        & img {
          background-color: white;
          border-radius: 50%;
        }
      }
    }

    .header__nav__link__dropdown {
      .nav-link {
        color: white;
      }
    }

    .header__nav__link__user {
      padding: 0;
    }
  }

  &__menu {
    &__icon {
      font-size: 2.5rem;
    }
  }

  &__nav {
    &__brand {
      margin-right: 5rem;
    }

    & .navbar-nav {
      margin: 0 0 0 auto;
    }



  }
}

.header__row__nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  color: white;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
}

.header__row__nav__item {
  padding: 10px;
  white-space: nowrap;
}

.header__row__nav__item__link,
.header__row__nav__item__link:hover {
  color: white;
  text-decoration: none;
}

.header__row__btngrp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.header__row__btn {
  border-radius: 50px;
  color: white;
  min-width: 110px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-weight: 500;
  font-size: 12px;
}

.header__row__btn:hover {
  box-shadow: 0px 2px 10px -5px black;
}

.header__row__btn__icon {
  margin-right: 5px;
  height: 14px;
}

.header__row__login {
  background-color: #fcb432;
}

.header__row__register {
  background-color: #ee4642;
}

.nav-link:hover, .nav-link:focus {
//     color: #ffebcc !important;
}


.dropdown_notification{
max-height:300px;
display: inline-block;
word-break: break-word;
width:300px;
position: absolute !important;
transition: width 2s, height 4s;
}

.msg_time{
font-size: 12px;
color: #b7b7b7;

}

.notification_msg{
color: #909398fa;
font-size:15px;
font-weight:600;
}


.msg_count{
        border: 2px solid #fffefe;
    border-radius: 24px;
    height: 23px;
    width: 23px;
    font-size: 65%;
    padding: 2px;
    position: absolute;
    color: #ffffff;
    text-align: center;
    background-color: #44aebe;
}

.notification_parent{
background-color:#96d9f3 !important;
padding:7px;
}

.msg_row{
border-bottom: 2px solid #e4e4e4 !important;
display: inline-block;
}
.MuiList-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.notification_header{
text-align: center;

    color: #ffffff;
    font-weight: 600;
}
.notification_footer{
text-align: center;
    color: #3ca4af;
    font-weight: 600;
    cursor: pointer;
}
.MuiListItem-root{
display:block !important;
}

.unread{
height: 12px;
    width: 12px;
    background: #f10a0a;
    top: -6px;
    border: 1px solid #ffffff;
    left: -9px;
    position: relative;
    border-radius: 20px;

}


@media screen and (max-width: 991px) {
  .header {
    padding: 10px;

    &__nav {
      &__brand {
        margin-right: 4rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
 .modal-dialog {
    max-width: 80% !important;
    margin: 1.75rem auto;
    }
}


