.cards_section{
    max-width: 100%;
    padding: 0px 8%;
}

.profile_visitors{
margin: 50px auto !important;
}

.recomm_bg{
background-color: #f2f9f373;
}

.nearby_bg{
background-color: #ffffff;
}

.premium_bg{
background-color: #f1f1f18a;
}

.dotted_parent{
    position: absolute;
    right: 10px;
}
.dotted_child{
width: 100%;
text-align: right;
}
.dotted_image{
     height: 87px;
    top: -31px;
    z-index: -3;
    position: relative;

}


.section {
    margin: auto;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &__title {
            &__text {
                font-size: 38px;
                font-weight: 700;
                color: #5e5e5e;
                margin: 0;
                letter-spacing: 1px;

                &__count {
                    font-size: 32px;
                    color: #ee4642;
                    margin: 0 10px;

                    &::before {
                        content: '(';
                    }

                    &::after {
                        content: ')';
                    }
                }
            }

            &__subtext {
                color: #b5b5b5;
                font-size: 14px;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 120px;
                    height: 3px;
                    background-color: #ee4642;
                    left: 0;
                    top: calc(100% + 10px);
                    box-shadow: 0 0 2px #ee4644;
                }
            }
        }

        &__actions {
            button {
                margin: 0 5px;
            }

            &__left {
                border-radius: 50%;
                border: 2px solid #b8b8b8;
                background: transparent;
                min-width: 40px;
                min-height: 40px;
            }

            &__right {
                border-radius: 50%;
                border: 2px solid #f8c657;
                background: transparent;
                min-width: 40px;
                min-height: 40px;
            }

            &__all {
                transition: all 0.5s ease;
                border: 2px solid #ee4642;
                border-radius: 50px;
                color: #ee4642;
                background: transparent;
                min-width: 120px;
                min-height: 40px;
                font-size: 14px;
                position: relative;

                &__text {
                    padding-right: 10px;
                }

                & img {
                    position: absolute;
                    top: calc(50% - 4px);
                    height: 8px;
                }

                &__whiteicon {
                    z-index: -1;
                }

                &:hover {
                    background-color: #ee4642;
                    color: white;
                    box-shadow: 0 0 3px #ee4642;

                    .section__header__actions__all__whiteicon {
                        z-index: 1;
                    }
                }
            }
        }
    }

    &__cards {
        margin: 30px 0;
    }
}

.info {
    &__card {
        margin: 75px auto 50px;
        align-items: center;
        padding: 40px 30px;
        border-radius: 30px;
        border: 0;
        box-shadow: 0 10px 20px 5px #f0f0f0;

        &__img {
            margin: 0 0 30px 0;
        }

        &__text {
            color: #9f9f9f;
            margin: 0;
            text-align: center;
        }
    }
}

@media screen and (max-width: 786px) {
    .profile_visitors{
    margin: -33px auto !important;
    }

    .dotted_image{
            height: 100px;
            top: -119px;
            z-index: -3;
            position: relative;
        }


    .section {
        &__header {
            &__title {
                &__text {
                    font-size: 35px;

                    &__count {
                        font-size: 24px;
                    }
                }

                &__subtext {
                    font-size: 12px;
                }
            }

            &__actions {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 30px;

                &__right {
                    order: 3;
                }

                &__all {
                    order: 2;
                }

            }
        }
    }
}