.profile {
  .row {
    margin: 0;
  }

  &__modal {
    &__header {
        color: #696969;
        font-size: 20px;
        font-weight: 500;
    }
    &__body {
    color: #dc4e52e8;
    }
  }

  &__card {
    flex-direction: row;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0 5px 7px #d6d6d6;

    &__left {
      padding-left: 0;

      &__container {
        display: flex;
        padding: 0 20px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 3px 5px #d8d8d8;
        height: 100%;
        position: relative;

        &__upload {
          display: none;
        }

        &__img {
          border-radius: 50%;
          width: 250px;
          height: 250px;
          filter: brightness(1);
          img {
            width: 100%;
            height: 100%;
          }
        }

        &__camera {
          position: absolute;
          top: 73%;
          right: 17%;
          background-color: #00000050;
          border-radius: 50%;
          height: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;

          &__count {
            position: absolute;
            background-color: #fbb332;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            left: 55%;
            top: 20%;
          }
        }

        &__privacy {
          background-color: #ed4642;
          border-radius: 50%;
          min-width: 30px;
          min-height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 4%;
          top: 3%;
        }
      }
    }

    &__right {
      padding: 0px 0px 0px 7px;

      &__container {
        display: flex;
        flex-direction: column;
        height: 100%;

        &__header {
          justify-content: space-between;
          padding: 10px 15px 0 0;
          align-items: center;

          &__name {
            margin-bottom: 8px;
            font-size: 28px;
            font-weight: 400;
            color: #6788aa;
            cursor:pointer;

            &__status {
              width: 20px;
              height: 20px;
              border: 5px solid;
            }
          }

          &__seen {
            margin: 0;
            color: #9f9f9f;
            font-size: 15px;

            &__calendar {
              margin-right: 5px;
            }
          }
        }

        &__splitter {
          --dash-color: #e46e79;
          margin: 0;
          position: relative;
          background: linear-gradient(
            to right,
            var(--dash-color) 2%,
            white 2% 4%,
            var(--dash-color) 4% 6%,
            white 6% 8%,
            var(--dash-color) 8% 10%,
            white 10% 12%,
            #d9d9d9 12%
          );
          height: 2px;
          border: 0;
        }

        &__details {
          padding: 30px 20px 0;
          flex: 1;
          color: #675353;
          font-size: 18px;
          font-weight: 300;
          white-space: nowrap;

          &__parent{
          min-height:96px;
          }

          &__match{
            position: absolute;
            top: 25px;
          }

          &__matchIcon{
             justify-content: center;
//              position: relative;
             top: -38px;
          }
           &__matchOutof{
            justify-content: center;
//             position: relative;
            font-size:15px;
            top: -38px;
          }

          &__picture {
            padding: 7px;

            .card {
              padding: 5px 10px 1px;
              border: 0;
              box-shadow: 0 2px 5px 1px #ccc;
              border-radius: 15px;

              hr {
                margin: 0;

                & + p {
                  font-size: 18px;
                  margin: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  white-space: nowrap;
                  overflow: hidden;
                }
              }
            }
          }

          &__personal {
            & .row {
              margin: 2px 0;
            }
          }

          &__professional {
            & .row {
              margin: 2px 0;
            }
          }
        }

        &__actions {
          background-color: #f3f7ff;
          margin-right: 7px;
          padding: 10px 12px;
          justify-content: space-between;
          align-items: center;
          border-radius: 30px;

          img {
            margin-right: 7px;
          }

          &__changed_mind{
            &__button{
            cursor: pointer;
            color: #4eabe2;
            }
          }

          &__changed_mind_text{
          font-size: 12px;
          font-style: italic;
          margin: 10px;
          color: #8e8b8b;
          }
          button {
//             display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
//             border-radius: 50px;
            background-color: #f3f7ff;
            color: #c3525d;
            font-size: 14px;
            box-shadow: 0 0 10px 5px #e8ebf4;
//             min-height: 45px;
            outline: none;
          }

          &__view {
          }

          &__single {
              border-left: 3px solid #f7acad !important ;
              padding: 6px 15px;
              border-radius: 0px 20px 20px 0px;
          }

          &__taken {
              border-left: 3px solid #ff8c8c !important ;
              padding: 6px 15px;
              color: #ff8c8c;
              border-radius: 0px 20px 20px 0px;
          }

          &__chat {
          }

          &__share {
          }
           &__accept {
           padding: 10px 15px;
           cursor: pointer;

          }
           &__reject {
            padding: 10px 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.search-profile {
  margin: 50px 0;

  .profile {
    &__card {
//       cursor: pointer;
      min-height: 260px;
      border-color: #eeeeee;
      box-shadow: none;
      transition: box-shadow 0.25s ease;

      &:hover {
        box-shadow: 0 3px 10px 3px #cbe3e5;

//         & .profile__card__right__container__actions {
//           background-color: #f9c8cc;
//         }
      }

      &__left {
        padding: 0 10px 0 0;
        &__container {
          border: none;
          box-shadow: none;
          padding: 0;

          &__img {
            object-fit: contain;
            border-radius: 5px;
            max-height: 230px;
            width: 100%;
            filter: brightness(1);
          }

          &__bgimg {
            object-fit: cover;
            border-radius: 5px;
            height: 100%;
            width: 100%;
            filter: blur(5px);
            position:absolute;

          }

          span {
            object-fit: contain;
            border-radius: 5px;
            max-height: 230px;
            width: 100%;
            filter: brightness(1);
          }

          &__privacy {
            display: none;
          }

          &__camera {
            top: 4%;
            right: 3%;
            height: 25px;
            width: 25px;

            img {
              height: 13px;
            }

            &__count {
              position: absolute;
              width: 15px !important;
              height: 15px !important;
              background-color: #de3545;
              top: -10%;
              right: 10%;
              border-radius: 50% !important;
              font-size: 11px;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &__premium {
            position: absolute;
            top: -16px;
            left: -16px;
          }
        }
      }

      &__right {
        &__container {
          &__header {
            margin: 0;

            &__name {
              font-size: 18px;
              font-weight: 400;
            }

            &__seen {
              font-size: 12px;
            }
          }

          &__splitter {
            min-height: 1px;
          }

          &__details {
            margin: 0;
            padding: 15px 0 0;
            justify-content: space-evenly;

            &__matchtxt{
            font-size: 16px;
            color: #7d7d7d;
            }

            &__picture {
              padding: 7px;

              .card {
                padding: 5px 10px 1px;
                border: 0;
                box-shadow: 0 2px 5px 1px #ccc;
                border-radius: 5px;

                hr {
                  margin: 0;

                  & + p {
                    font-size: 10px;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    white-space: nowrap;
                    overflow: hidden;
                  }
                }
              }
            }

            &__personal {
              margin: 0;
              font-size: 16px;
              white-space: nowrap;
              overflow: hidden;
            }

            &__professional {
              margin: 0;
              font-size: 16px;
              white-space: nowrap;
              overflow: hidden;
            }
          }

          &__actions {
            justify-content: flex-end;
            background-color: #c8ddfd3b;
            transition: background-color 0.25s ease;
            margin: 0;
            padding: 7px 12px;
            border-radius: 30px;

            &__approve_reject {
                  border-left: 5px solid #6cc9ff;
                  border-right: 5px solid #6cc9ff;
                  padding: 0px 10px 0px;
                  font-size: 15px;
                  transition: background-color 0.25s ease;
                   color: #67ade2;
                   padding: 10px;
                   background-color: #ffffff;
                   border-radius: 5px 23px 5px;
                  &:hover {
//                     background-color: #ee4642;
//                     color: white;
                  }
                  img {
                    transition: all 0.25s ease;
                  }
                }

            button {
              box-shadow: none;
//               min-width: 120px;
              min-height: 30px;
              font-size: 15px;
              font-weight: 400;
              margin-right: 10px;
              transition: background-color 0.25s ease;
              outline: none;

              &:hover {
//                 background-color: #ee4642;
//                 color: white;
              }

              img {
                transition: all 0.25s ease;
              }
            }

            &__share {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search-profile .profile {
    &__card {
//       flex-wrap: wrap;
//       overflow: hidden;
      max-height: 800px;
      padding: 0;

      &__left {
        &__container {
          &__img {
            max-height: 200px;
          }
        }
      }

      &__right {
        &__container {
          padding: 20px;

          &__header {
            padding: 0;

            &__name {
              font-size: 12px;
              font-weight: 500;
            }

            &__seen {
              display: none;
            }
          }

          &__splitter {
            background: linear-gradient(
              to right,
              var(--dash-color) 5%,
              white 5% 10%,
              var(--dash-color) 10% 15%,
              white 15%
            );
          }

          &__details {
            &__picture {
            }

            &__personal {
              padding: 0;
            }

            &__professional {
              display: none;
            }
          }

          &__actions {
            justify-content: flex-end;
            padding: 0;
            padding: 10px;
            border-radius: 30px;

            button {
              margin: 0;
              min-width: 75px;
//               border: 2px solid;
              font-size: 12px;
              outline: none;

              img {
//                 display: none;
              }
            }
            &__single {
              border-left: 5px solid #f7acad !important ;
              background-color: #ffffff !important;
              padding: 6px 15px;
              border-radius: 0px 20px 20px 0px;
          }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .search-profile {
    .profile {
      &__card {
        max-height: max-content;
        &__left {
          &__container {
            &__img {
              max-height: 200px;
            }
          }
        }
      }
    }
  }
}
