.profile {
  .row {
    margin: 0;
  }

  &__card {
    max-height: 325px;
    flex-direction: row;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0 5px 7px #d6d6d6;

    &__left {
      padding: 0 30px 0 0;

      &__container {
        display: flex;
        padding-left: 20px;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 3px 5px #d8d8d8;
        height: 100%;
        position: relative;

        &__upload {
          display: none;
        }

        &__img {
          border-radius: 50%;
          height: 85%;
          width: 90%;
          object-fit: contain;
          object-position: center;
          filter: brightness(0.75);
        }

        &__camera {
          position: absolute;
          top: 73%;
          right: 17%;
          background-color: #00000050;
          border-radius: 50%;
          height: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;

          &__count {
            position: absolute;
            background-color: #fbb332;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            left: 55%;
            top: 20%;
          }
        }

        &__privacy {
          background-color: #ed4642;
          border-radius: 50%;
          min-width: 30px;
          min-height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 4%;
          top: 3%;
        }
      }
    }

    &__right {
      padding: 0;

      &__container {
        display: flex;
        flex-direction: column;
        height: 100%;

        &__header {
          justify-content: space-between;
          padding: 10px 15px 0 0;
          align-items: center;

          &__name {
            margin-bottom: 8px;
            font-size: 28px;
            font-weight: 400;
            color: #6d6d6d;

            &__status {
              width: 20px;
              height: 20px;
              border: 5px solid;
            }
          }

          &__seen {
            margin: 0;
            color: #9f9f9f;
            font-size: 15px;

            &__calendar {
              margin-right: 5px;
            }
          }
        }

        &__splitter {
          --dash-color: #e46e79;
          margin: 0;
          position: relative;
          background: linear-gradient(
            to right,
            var(--dash-color) 2%,
            white 2% 4%,
            var(--dash-color) 4% 6%,
            white 6% 8%,
            var(--dash-color) 8% 10%,
            white 10% 12%,
            #d9d9d9 12%
          );
          height: 2px;
          border: 0;
        }

        &__details {
          padding: 30px 20px 0;
          flex: 1;
          color: #9f9f9f;
          font-size: 18px;
          font-weight: 300;
          white-space: nowrap;

          &__picture {
          }

          &__personal {
            & .row {
              margin: 2px 0;
            }
          }

          &__professional {
            margin-left: 100px;

            & .row {
              margin: 2px 0;
            }
          }
        }

        &__actions {
          background-color: #ecf2fe;
          margin-right: 7px;
          border-radius: 7px;
          padding: 10px 12px;
          justify-content: space-between;
          align-items: center;

          img {
            margin-right: 7px;
          }

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            border-radius: 50px;
            background-color: white;
            color: #c3525d;
            font-size: 14px;
            box-shadow: 0 0 10px 5px #e8ebf4;
            min-width: 160px;
            min-height: 45px;
          }

          &__view {
          }

          &__send {
          }

          &__chat {
          }

          &__share {
          }
        }
      }
    }
  }
}

.search-profile {
  margin: 50px 0;

  .profile {
    &__card {
      max-height: 210px;
      border-color: #eeeeee;
      box-shadow: none;
      transition: box-shadow 0.25s ease;

      &:hover {
        box-shadow: 0 3px 10px 3px #cbe3e5;

        & .profile__card__right__container__actions {
          background-color: #f9c8cc;
        }
      }

      &__left {
        padding: 0 10px 0 0;
        &__container {
          border: none;
          box-shadow: none;
          padding: 0;

          &__img {
            border-radius: 5px;
            height: 100%;
            width: 100%;
            filter: none;
          }

          &__privacy {
            display: none;
          }

          &__camera {
            top: 4%;
            right: 3%;
            height: 25px;
            width: 25px;

            img {
              height: 13px;
            }

            &__count {
              position: absolute;
              width: 15px;
              height: 15px;
              background-color: #de3545;
              top: -10%;
              right: 10%;
              border-radius: 50%;
              font-size: 11px;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &__premium {
            position: absolute;
            top: -16px;
            left: -16px;
          }
        }
      }

      &__right {
        &__container {
          &__header {
            margin: 0;

            &__name {
              font-size: 18px;
              font-weight: 400;
            }

            &__seen {
              font-size: 12px;
            }
          }

          &__splitter {
            min-height: 1px;
          }

          &__details {
            margin: 0;
            padding: 15px 0 0;
            justify-content: space-evenly;

            &__picture {
              padding: 0 20px 10px 0;

              .card {
                padding: 5px 10px 1px;
                border: 0;
                box-shadow: 0 2px 5px 1px #ccc;
                border-radius: 5px;

                hr {
                  margin: 0;

                  & + p {
                    font-size: 10px;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    white-space: nowrap;
                    overflow: hidden;
                  }
                }
              }
            }

            &__personal {
              margin: 0;
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
            }

            &__professional {
              margin: 0;
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
            }
          }

          &__actions {
            justify-content: flex-start;
            background-color: white;
            transition: background-color 0.25s ease;
            margin: 0;
            padding: 7px 12px;

            button {
              box-shadow: none;
              min-width: 120px;
              min-height: 30px;
              font-size: 11px;
              margin-right: 10px;
              transition: background-color 0.25s ease;

              &:hover {
                background-color: #ee4642;
                color: white;
              }

              img {
                transition: all 0.25s ease;
              }
            }

            &__share {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search .profile {
    &__card {
      flex-wrap: wrap;
      overflow: hidden;
      max-height: 400px;
      padding: 0;

      &__left {
        max-height: 200px;
        padding: 0;
      }

      &__right {
        &__container {
          padding: 20px;

          &__header {
            padding: 0;

            &__name {
              font-size: 12px;
              font-weight: 500;
            }

            &__seen {
              display: none;
            }
          }

          &__splitter {
            background: linear-gradient(
              to right,
              var(--dash-color) 5%,
              white 5% 10%,
              var(--dash-color) 10% 15%,
              white 15%
            );
          }

          &__details {
            &__picture {
            }

            &__personal {
              padding: 0;
            }

            &__professional {
              display: none;
            }
          }

          &__actions {
            padding: 0;
            justify-content: space-between;
            margin: 0 0 10px;

            button {
              margin: 0;
              min-width: 75px;
              border: 2px solid;
              font-size: 12px;

              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .search-profile {
    .profile {
      &__card {
        max-height: max-content;
        &__left {
          &__container {
            &__img {
              max-height: 200px;
            }
          }
        }
      }
    }
  }
}
