.list {
//     border-radius: 8px;

    &__item {
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        margin-bottom: 10px;
        box-shadow: 0 0 5px 2px #f1f1f1;
//         border-radius: 8px;
        color: #6d6d6d;
        white-space: nowrap;
        padding: 15px;
        transition: all 0.25s ease;
        &.active {
          color: #fcb432 !important;
          border-bottom: 2px solid #fcb432 !important;
          background-color: #ffffff !important;
          border-top-width: 0px !important;
          border-right-width: 0px !important;
          border-left-width: 0px !important;
          border-radius: 0px !important;
        }

        &+.list__item {
//             border-top-width: 1px;
        }

        &:hover {
            box-shadow: 0 3px 5px #e5ded0;
        }

        &__img {
            margin-right: 20px;
        }
    }
}