.homeForm {
    background-color: white;
    padding: 10px 20px 0;
    border-radius: 10px;
    max-width: 46%;

    &__header {
        align-items: center;

        &__content {
            padding: 0;

            &__title {
                font-size: 32px;
                color: #6e6e6e;
                margin: 0;
            }

            &__subtitle {
                color: #b7b7b7;
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 0;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 110%;
                    left: 0;
                    width: 30%;
                    height: 3px;
                    background-color: #ee4642;
                }

                &__percentage {
                    margin-left: 5px;
                    color: #ce3f4b;
                }
            }
        }
    }

    &__banner {
        background-color: #f6f6f6;
        padding: 12px 5px;
        justify-content: center;

        &__content {
            margin: 0;
            color: #848484;
        }
    }

    &__cards {
        margin: 10px 0;
        padding: 20px 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;

        &__card {
            border: 0;
            box-shadow: 0 0 6px #e7e7e7;
            align-items: center;
            justify-content: center;
            min-height: 135px;

            &__circle {
                background-color: #fad5d8;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &__count {
                    position: absolute;
                    background-color: #ee4642;
                    color: white;
                    border-radius: 50%;
                    font-size: 10px;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    top: 6px;
                    right: 0;
                }
            }

            &__desc {
                font-size: 14px;
                color: #919191;
                text-align: center;
                margin: 15px 0 0;
            }
        }
    }

    &__actions {
        padding: 20px;

        &__upload {
            width: 100%;
            border: 0;
            border-radius: 50px;
            background-color: #ee4642;
            color: white;
            font-size: 20px;
            font-weight: 600;
            min-height: 55px;
            box-shadow: 0 10px 20px #ffadb2;
            margin-bottom: 30px;
        }

        &__sec {
            margin: 0;
            width: 100%;
            justify-content: space-between;

            &__filters {
                border: 1px solid #8d8d8d;
                border-radius: 50px;
                color: #8d8d8d;
                background: white;
                min-height: 55px;
                font-size: 18px;
                flex: 1;
                margin-right: 25px;
            }

            &__profile {
                border: 1px solid #8d8d8d;
                border-radius: 50px;
                color: #8d8d8d;
                background: white;
                min-height: 55px;
                font-size: 18px;
                flex: 1;
            }
        }
    }
}